*.zip
*.gz
*.rar
*.mp4
*.mkv
*.avi
*.mov
*.back
*.asv
*.pyc
*~
*.exe
*.bat
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o 
*.a
*.so
*.pyd
*.log
*.emf
*.data*
*.tfevents*
*.index
*.meta
*.pb*
*.record
videos/
images/
test_images/
pre_trained_models/
pprint_log/
results/
trained/
.idea/
.ipynb_checkpoints/
!data/*.pbtxt
!data/*.csv



