*.o
*.dSYM
*.csv
*.out
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
vs/
submission/
darknet
darknet.*
.vs/
Debug/
Release/
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
