*.pkl
*.zip
*.gz
*.rar
*.mp4
*.mkv
*.avi
*.mov
*.back
*.asv
*.pyc
*~
*.exe
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o 
*.a
*.so
*.pyd
*.log
*.emf
*.data*
*.tfevents*
*.index
*.meta
*.pb*
videos/
images/
test_images/
results/
trained/
.idea/
.ipynb_checkpoints/
incubator-mxnet/
incubator-mxnet/
pretrained/
!cfg/*.data

