icons/.DS_Store

resources.py

.idea*
labelImg.egg-info*

*.lnk

*.pyc
.*.swp

build/
dist/

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
*.avi
*.mp4
log/
/tmp/
/object_detection_module/base_model/checkpoints/intersection/model.index
/object_detection_module/base_model/checkpoints/intersection/model.meta
/object_detection_module/base_model/checkpoints/intersection/inference/
/object_detection_module/base_model/checkpoints/intersection/model.data-00000-of-00001
/object_detection_module/base_model/checkpoints/uav/model.meta
/object_detection_module/base_model/checkpoints/uav/model.index
/object_detection_module/base_model/checkpoints/uav/model.data-00000-of-00001
/object_detection_module/base_model/checkpoints/uav/inference/

/tracking_module/build/
/tracking_module/log/
/tracking_module/models/
/tracking_module/videos/

gitu.bat
/object_detection_module/base_model/checkpoints/zero_init/model.ckpt.meta
/object_detection_module/base_model/checkpoints/zero_init/model.ckpt.index
/object_detection_module/base_model/checkpoints/zero_init/model.ckpt.data-00000-of-00001
/object_detection_module/base_model/checkpoints/random_init/model.ckpt.index
/object_detection_module/base_model/checkpoints/random_init/model.ckpt.meta
/object_detection_module/base_model/checkpoints/random_init/model.ckpt.data-00000-of-00001

demo/videos_grs/