root_dir=/data/ILSVRC2015/Data
class_names_path=../labelling_tool/data/imagenet_vid.txt
allow_missing_annotations=1
class_from_seq=0
class_from_file=1
output_path=/data/ILSVRC2015/Data
img_ext=JPEG


## vid
seq_paths=lists/imagenet_vid_train.txt
## vid_val
seq_paths=lists/imagenet_vid_val.txt

## vid_det
seq_paths=lists/imagenet_vid_det_train.txt
## vid_det_all
seq_paths=lists/imagenet_vid_det_all.txt

## det
seq_paths=lists/imagenet_det_train.txt
## det_all
seq_paths=lists/imagenet_det_all.txt
## det_val
seq_paths=lists/imagenet_det_val.txt
##

%import% csv_to_record.cfg








