write_annotations_list=0
write_tfrecord=0

## ratio
	### irange(1,100)
	sampling_ratio=%RI%

## samples
	### irange(1,256)
	samples_per_seq=%N%

## even
even_sampling=1
	### 0,1
	even_sampling=%N%

## random
random_sampling=1
	### 0,1
	random_sampling=%N%

## len
	### irange(2,256)
	sampling_seq_len=%N%

